<div class="slide">
    <div class="titletop">
        <h1>Presentation Title</h1>
    </div>
    <div class="titlebelow">
        Author name
    </div>
</div>

{{ manim_single("ExampleScene", "sec1") }}

{{ manim_range("ExampleScene", firstSection="sec2", lastSection=None) }}

<div class="slide">
    <h1>Title</h1>
    <ul>
        <li class="later"> Point 1
        <li class="same"> Point 1.5
        <li class="later"> Point 2
    </ul>
</div>

<div class="slide small">
    <ol>
        <li>Group A
            <ul>
                <li> 1
                <li> 2
            </ul>
        <li>Group B
            <ul>
                <li> 1
                <li> 2
            </ul>
    </ol>
    <p class="orange"> Other Color
</div>
